<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM 'log4j.dtd'>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
        </layout>
    </appender>
    <appender name="html" class="org.apache.log4j.FileAppender">
        <param name="file" value="log/log.html" />
        <layout class="org.apache.log4j.HTMLLayout">
            <param name="title" value="HTML Error Report" />
            <param name="locationInfo" value="true" />
        </layout>
    </appender>
    <appender name="xml" class="org.apache.log4j.FileAppender">
        <param name="file" value="log/log.xml" />
        <layout class="org.apache.log4j.xml.XMLLayout">
            <param name="locationInfo" value="true" />
        </layout>
    </appender>
    <logger name="org.springframework" additivity="false">
        <level value="info" />
        <appender-ref ref="console" />
    </logger>
    <logger name="org.rifas" additivity="false">
        <level value="all" />
        <appender-ref ref="console" />
    </logger>
    <root>
        <level value="all" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>