<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>$escape.html($pageTitle)</title>
        <meta name="description" content="$escape.html($pageDescription)" />
        <meta name="keywords" content="$escape.html($pageKeywords)" />
        <meta name="author" content="QuidProQuo inc." />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="en" />
        <meta name="verify-v1" content="TMvci0HwOHKO7zzRocDH0If2RQbDQlS4LxtwZC5WU9Q=" />
        <link href="$request.contextPath/styles/lightbox.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" type="image/x-icon" href="$request.contextPath/images/favicon.ico" />
        <script language="Javascript" type="text/javascript" src="$request.contextPath/javascript/flxhr/flXHR.js"></script>
        <script type="text/javascript" src="$request.contextPath/javascript/rrc.js"></script>
        <link href="$request.contextPath/styles/rrc.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" type="image/x-icon" href="$request.contextPath/images/favicon.ico" />
    </head>
    <body>
        $screen_content
    </body>
</html>