<div id="bodytopmainPan">
    <div id="bodytopPan">
        <h1>Disclaimer</h1>
    </div>
    <div id="bodymainmiddlePan">
       <div id="bodymiddlePan">
           <p>
              <strong>1)</strong> RIFAS project doesn't host any files that our site links to or that are displayed on our site
           </p>
           <br /><br />

           <p>
              <strong>2)</strong> RIFAS project ONLY indexes the files which are located on world wide web, which RIFAS project has no connection with / control of / incorporation of / association with. 
           </p>
           <br /><br />

           <p>
              <strong>3)</strong>  This site is not affiliated with any file hosting engine or other sites with different search engine that searches world wide web for file links.
           </p>
           <br /><br />
           
           <p>
              <strong>4)</strong>  This site is just an advanced world wide web indexer and search engine, but we respect an Copyright Laws. So if You have found the link to an illegal file, please report it to Us and we will consider removing it.
           </p>
           <br /><br />
       </div>
    </div>
</div>