#set($layout = "layouts/xmlLayout.vm")
<div id="filterDefsModalWindow">
    <div style="text-align: right">
        <a href="#" class="lbAction" rel="deactivate"><img style="width:16px;height:16px" src="$request.contextPath/images/close_icon.gif" alt="" width="16" height="16" border="0" /></a>
    </div>
    <div class="centered">
        <h3>Filter</h3>
    </div>
    <form name="modalFilterDefs">
        <div style="margin-left: 50px">
            <input type="radio" name="filter" value="all" /> all<br />
            <input type="radio" name="filter" value="checked" /> checked<br />
            <input type="radio" name="filter" value="unchecked" /> unchecked<br />
            <input type="radio" name="filter" value="active" /> active<br />
            <input type="radio" name="filter" value="deleted" /> deleted<br />
        </div>
        <br />
        <p class="centered"><input type="button" value="OK" onclick="selectFilterDef();" /></p>
    </form>
</div>
<script type="text/javascript" language="javascript">
    selectActiveFilterInModalWindow();
</script>