<div id="bodytopmainPan">
    <div id="bodytopPan">
        <h1>Terms of Use</h1>
    </div>
    <div id="bodymainmiddlePan">
       <div id="bodymiddlePan">
           <p>
              RIFAS project offers its files search technology on an "as is" basis. RIFAS project distributes information supplied by third parties and provides Internet links and references gathered from outside sources. Therefore, you should not assume:
           </p>
           <br /><br />

           <ul>
               <li>• that any materials identified, located or obtained through the use of RIFAS project are error-free,</li>
               <li>• that a search will return accurate, reliable, timely, correct, useful or complete results,</li>
               <li>• that your use of the service will be uninterrupted, or that the material linked within the RIFAS project database is not copyrighted.</li>
           </ul>
           <br /><br />

           <p>
               Links to Mp3 or Video files may be present in the RIFAS project database which cannot legally be downloaded and stored. Note that RIFAS project has no way to determine which files have a copyright and which do not. RIFAS project does not nor will ever store any mp3 or video files on its own servers. Users should use their own judgement when downloading files from other internet servers which could possibly infringe upon any copyright. Inclusion of any Internet reference or any third party content in this web site in no way constitutes an endorsement or authentication of that material by RIFAS project.
           </p>
           <br /><br />

           <p>
               As a condition of using this service, you assume all risk of loss resulting from the use of, or reliance upon, this web site or any materials identified, located or obtained by using this web site.
           </p>
           <br /><br />

           <p>
              RIFAS project generates search results automatically from a database or live internet search and any search may return unexpected or unwanted references. These references may contain offensive, obscene, or illegal material. Because RIFAS project merely links to -- and does not publish -- content supplied by third parties or generally available on the Internet, RIFAS project has no more editorial control over such information than does a public library, bookstore, or newsstand. Any information, opinion, advice, statement, service, offer, or other materials or content are the property and responsibility of the respective author(s) or distributor(s) and not of RIFAS project.
           </p>
           <br /><br />

           <p>
            The layout, design, files, images and all other contents of the RIFAS project web site are owned by RIFAS project and are protected by national and international intellectual property laws, conventions and treaties.
            The information contained within the RIFAS project databases belongs to the respective owner of RIFAS project, and is also protected by national and international intellectual property laws, conventions and treaties.
            The information contained in the RIFAS project web site and databases may not otherwise be used, copied, distributed, performed, sublicensed, modified, rented, altered, reverse engineered or recompiled in any manner without the express written consent of its owner.
           </p>
           <br /><br />

       </div>
    </div>
</div>